<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/classes">Classes</a></li>
    <li><a href="#/classes/{{assignment.class.id}}">{{assignment.class.title}}</a></li>
    <li><a href="#/classes/{{assignment.class.id}}/assignments">Assignments</a></li>
</ol>

<div class="row">
    <div class="col-md-12 col-lg-10 col-lg-offset-1 col-sm-12">
        <div class="page-header">
            <h1>{{assignment.name}} <small>{{assignment.due}}</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-10 col-lg-offset-1 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group" ng-hide="assignment.assigned">
                    <button type="button"
                        ng-click="assign()"
                        class="btn btn-info">Assign</button>
                </div>
                <div class="alert alert-info" ng-show="assignment.assigned">
                    You have already given out this assignment.
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Submitted Map</th>
                        <th>Critiqued Peers</th>
                        <th>Link</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in roster">
                        <td style="vertical-align:middle">
                            <a href="#/map/{{s.link}}">
                            {{s.fname}}
                            {{s.lname}}</a></td>
                        <td style="vertical-align:middle">{{s.submitted}}</td>
                        <td style="vertical-align:middle">{{s.peers_done}}</td>
                        <td style="vertical-align:middle">
                            <input type='text' class='form-control'
                            value='#/map/{{s.link}}'>
                        </td>
                        <td style="vertical-align:middle"><a href="#">Map</a> &mdash; <a href="#">Pack</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
